/*-------------------------------------------------------------
    Buttons
---------------------------------------------------------------*/
input[type="button"].deal {
    border: 5px solid #fff;
    border-radius: 25px;
    padding: 0 .10em !important;
}

input[type="button"].blu {
    background: #0983F0;
    -webkit-transition-duration: 0.4s; /* Safari */
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

    input[type="button"].blu:hover {
        border: 5px solid #0983F0;
        color: #0983F0;
        background: #fff;
    }


/*-------------------------------------------------------------
    jQuery UI Accordion
---------------------------------------------------------------*/
.licenseesubhead {
    padding: 1em 0.5em;
    border-top: 0.05em solid #999 !important;
    border-bottom: 0.05em solid #999;
    margin-bottom: 2em;
}

.row {
    background-color: #999;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.dephead,
.depheadjob {
    font-weight: bold;
}

.dephead {
    font-size: 1.25em;
}

.depheadjob {
    font-style: italic;
}

.ui-accordion div.ui-accordion-content {
    font-size: .7em;
}

.ui-accordion div.ui-corner-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.normallink a:link {
    text-decoration: underline;
    color: #0000FF;
}

.normallink a:visited {
    text-decoration: underline;
    color: #0000FF;
}

.normallink a:hover {
    text-decoration: underline;
    color: #0000FF;
}

.normallink a:active {
    text-decoration: underline;
    color: #0000FF;
}


/*-------------------------------------------------------------
    Finishes
---------------------------------------------------------------*/
#finishes {
    font-size: .75em;
    border: 12px solid #999;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.finishes {
    margin-bottom: 20px !important;
}
.finishes h3, 
.finishes h4 {
    border-bottom: 1px solid black;
}


/*-------------------------------------------------------------
    Rollovers
---------------------------------------------------------------*/
/*MORPH*/
/* Classic Editor - img.morph & img.morph:hover */
/* Block Editor - div.morph img & div.morph img:hover */
img.morph,
div.morph img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    img.morph:hover,
    div.morph img:hover {
        border-radius: 50%;
        opacity: 0.6;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
