/*-------------------------------------------------------------
    jQuery UI Accordion
---------------------------------------------------------------*/
.licenseesubhead {
    padding: 1em 0.5em;
    border-top: 0.05em solid #999 !important;
    border-bottom: 0.05em solid #999;
    margin-bottom: 2em;
}

.row {
    background-color: #999;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.ui-accordion div.ui-accordion-content {
    font-size: .7em;
}

.ui-accordion div.ui-corner-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.normallink a:link {
    text-decoration: underline;
    color: #0000FF;
}

.normallink a:visited {
    text-decoration: underline;
    color: #0000FF;
}

.normallink a:hover {
    text-decoration: underline;
    color: #0000FF;
}

.normallink a:active {
    text-decoration: underline;
    color: #0000FF;
}
